.container {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  justify-content: space-around;
  padding: 30px;
  border-radius: 5px;
}
.subCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
